.Country {
    width: 26.4rem;
    height: 34.6rem;

    @media screen and (max-width: 1040px) {
        width: 24.4rem;
        height: 34.6rem;
    }

    @media screen and (max-width: 950px) {
        width: 23.3rem
    }

    @media screen and (max-width: 920px) {
        width: 22.3rem
    }

    @media screen and (max-width: 880px) {
        width: 21.3rem
    }

    @media screen and (max-width: 860px) {
        width: 20.3rem
    }

    @media screen and (max-width: 810px) {
        width: 19.3rem
    }

    @media screen and (max-width: 780px) {
        width: 26.3rem
    }

    @media screen and (max-width: 740px) {
        width: 24.3rem
    }

    @media screen and (max-width: 660px) {
        width: 22.3rem
    }

    @media screen and (max-width: 630px) {
        width: 21.3rem
    }

    @media screen and (max-width: 620px) {
        width: 26.4rem
    }

    @media screen and (max-width: 440px) {
        height: 33.6rem
    }

    figure {
        height: 16rem;
    }
}